<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sportscraper</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Index - All Leagues</h1>

        <p>Last updated {{ mins_since_last_update }} minutes ago</p>

        <div class="row">
            <div class="col">
                <h2>MLB</h2>
                <h3>Latest: <a href="picks/v2/mlb/{{ league_dates["mlb_v2"][0]["date"] }}">{{ league_dates["mlb_v2"][0]["name"] }}</a></h3>
            </div>

            <div class="col">
                <h2>WNBA</h2>
            </div>

            {# <div class="col">
                <h2>WNBA</h2>
                <h3>Latest: <a href="picks/wnba/{{ league_dates["wnba"][0]["date"] }}">{{ league_dates["wnba"][0]["name"] }}</a></h3>
            </div> #}
        </div>

        <hr>

        <h3>Archive:</h3>

        <div class="row">
            <div class="col">
                {% for date in league_dates["mlb_v2"][1:] %}
                    <h4><a href="picks/v2/mlb/{{ date["date"] }}">{{ date["name"] }}</a></h4>
                {% endfor %}
            </div>

            {# <div class="col">
                {% for date in league_dates["wnba"][1:] %}
                    <h4><a href="picks/wnba/{{ date["date"] }}">{{ date["name"] }}</a></h4>
                {% endfor %}
            </div> #}
        </div>

        <hr>

        <h3>Archive (Old Method):</h3>

        <div class="row">
            <div class="col">
                {% for date in league_dates["mlb"][1:] %}
                    <h4><a href="picks/mlb/{{ date["date"] }}">{{ date["name"] }}</a></h4>
                {% endfor %}
            </div>

            <div class="col">
                {% for date in league_dates["wnba"][1:] %}
                    <h4><a href="picks/wnba/{{ date["date"] }}">{{ date["name"] }}</a></h4>
                {% endfor %}
            </div>
        </div>
    </div>
</body>